<!DOCTYPE html>
<html>
<body>
    <!-- <input type=button onClick="window.open('<%= link%>')" value='הורדה' > -->
</body>
<script>
window.open('<%= link%>')
window.location.reload(true);

</script>
</html>

